[core]
    analytics = false
['remote "dvc_models"']
    url = ...
    endpointurl = ...
    ssl_verify = false
    use_ssl = false
    access_key_id = ${ACCESS_KEY_ID}
    secret_access_key = ${SECRET_ACCESS_ID}

